*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1{
	text-align: center;
}

ul{
	margin-top: 1rem;
	text-decoration: none;
	text-align: center;
	font-size: 24px;
}

ul li{
	height: 4rem;
	padding: 1rem;
}

a{
	color: gray;
}

li:hover{
	background: #DAD5D5;
	color: #4C4848;
}

.container{	
	border: 5px solid rgba(191,187,187,.8);
	margin: 1rem auto;
	max-width: 1200px;
	overflow: auto;
	padding: 2rem;
	width: 100%;
}

[class*="col-"]{
	border: 1px solid #3e3e3e;
	float: left;
	border: 5px solid white;
}

.col-1{
	width: 8.333333%;
}

.col-2{
	width: 16.666667%;
}

.col-3{
	width: 25%;
}

.col-4{
	width: 33.333333%;
}

.col-5{
	width: 41.666667%;
}

.col-6{
	width: 50%;
}

.col-7{
	width: 58.333333%;
}

.col-8{
	width: 66.666667%;
}

.col-9{
	width: 75%;
}

.col-10{
	width: 83.333333%;
}

.col-11{
	width: 91.666667%,
}

.col-12{
	width: 100%;
}

.height400{
	height: 400px;
}

.height600{
	height: 600px;
}

.bg-gray{
	background: gray;
}

.bg-lightgray{
	background: lightgray;
}